.buttons{
    text-align: center;
}

.main-container{
    width: 300px;
    height: 250px;
    position: relative;
    margin: 0 auto;
    border: 1px solid grey;
    overflow: hidden;
}
.rain-container{
    width: 100px;
    height: 250px;
    position: relative;
    margin: 0 auto;
    top: -110%;
}
.emoji{
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 0;
    left: 50%;
    background: url('../images/emoji.png') center center no-repeat;
    background-size: 100%;

}

.rain, .snow {
    width: 8px;
    height: 8px;
    background: cyan;
    left: 0;
    top: -100%;
    display: inline-block;
    border-radius: 0px 20px 20px 20px;
    transform: rotate(45deg);
    animation: rain 3s infinite;
}

.rain:nth-child(2n+0) {
    width: 6px;
    height: 6px;
    margin-left: -1.7px;
    animation: rain 5.5s infinite;
}

.rain:nth-child(3n+0) {
    animation: rain 7s infinite;
}


.snow {
    border-radius: 50%;
    background: #e6f5fb;
    left: -5px;
    top: -4px;
    margin-left: 2px;
    animation: rain linear 6s infinite;
}

.snow:nth-child(2n+1) {
    width: 5px!important;
    height: 5px!important;
    top: -7px;
    animation: rain linear 4.5s infinite;
}

.snow:nth-child(4n+0) {
    width: 9px!important;
    height: 9px!important;
    animation: rain linear 8s infinite;
    background: #fff;
}


@keyframes rain {
    0% {
        transform: translate3d(0, 0, 0.001px) rotate(45deg)
    }
    80% {
        transform: translate3d(0, 460px, 0.001px) rotate(45deg)
    }
    90% {
        transform: translate3d(0, 480px, 0.001px) rotate(45deg)
    }
    100% {
        transform: translate3d(0, 500px, 0.001px) rotate(45deg);
        opacity: 0
    }
}